html,
body,
* {
  padding: 0px;
  margin: 0px;

  section {
    display: grid;
    grid-template-columns: 15% auto;
    transition: grid-template-columns 0.5s;

    aside {
      height: 100vh;
      background-color: lightcoral;
    }

    article {
      display: flex;
      flex-flow: column;
      height: 100vh;
      background-color: orange;

      nav {
        display: grid;
        flex-grow: 0;
        grid-template-columns: auto 95%;
        flex-direction: row;
        background-color: grey;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        ul {
          display: flex;
          list-style-type: none;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          li {
            padding: 15px;

            a {
              font-family: Arial, Helvetica, sans-serif;
              text-decoration: none;
              color: rgb(199, 199, 199);
            }
            a:hover{
              color: white;
            }
          }
        }
      }

      section {
        display: flex;
        flex-grow: 1;
        flex-basis: auto;
        background-color: violet;
      }

    }



  }
}